<div class=" flex w-full ">
    <div class=" w-1/2 py-10 px-20">
        <p class="text-[#F2C078] text-3xl project-title">À propos</p>
        <p class="text-[#F2C078] py-8 text-lg font-normal text-justify text">
            Aujourd’hui la société Heaven Sent commercialise les premiers terrains de la Cité Kimya Lola. ‍ Situé sur le plateau de Maluku, le lotissement bénéficie du calme du fleuve Congo et profitera de l'essor de Kitoko, la ville nouvelle. L'objectif est de vous proposer des terrains avec une infrastructure moderne bénéficiant de l'accès à l'eau, et à l'électricité.La sécurité y sera également assurée. En 15 jours seulement, la société vous permettra d’accéder à votre titre de propriété.
        </p>
    
    </div>
    <div class=" w-1/2 p-10 ">
        <img src="/images/hse-contact-img.jpg" alt="" srcset="">
    </div>
</div>
<hr class=" border border-[#F2C078]">
<div class=" w-full  px-20 py-8">
    <p class="text-[#F2C078] text-3xl  pb-8 project-title">NOS PROJECT</p>
<div class="grid grid-cols-3 gap-16">
    <div>
        <p class="text-[#F2C078] text-xl  pb-6 project-title ">TITRE DE PROPRIÉTÉ</p>
        <p class=" text-[#F2C078]  text-lg font-normal text-justify text">En 15 jours seulement obtenez vos documents. Nous nous occupons de toutes les démarches administratives pour l'obtention du titre de propriété au Ministère des affaires foncières</p>
    </div>
    <div>
        <p class="text-[#F2C078] text-xl  pb-6 project-title">PAIEMENT EN 3 FOIS</p>
        <p  class=" text-[#F2C078]  text-lg font-normal text-justify text">
            Payez en 3 fois grâce à nos partenaires. Avec un taux d'intérêt de seulement 10%.
        </p>
    </div>
    <div>
        <p class="text-[#F2C078] text-xl  pb-6 project-title">COMMODITÉS</p>
        <p class="text-[#F2C078]  text-lg font-normal text-justify text">Accessibilité à l'eau, à l'électricité, à la sécurité, au système de drainage et d' évacuation des eaux des pluies et usées mais aussi à des magasins de proximités</p>
    </div>
</div>
</div>