<!-- <app-navbar></app-navbar>
<app-jumbontron></app-jumbontron> -->
<div class="bg-[#212529] ">
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-sm font-semibold leading-6 text-[#F2C078]">Product</a>
            <a href="#" class="text-sm font-semibold leading-6 text-[#F2C078]">Features</a>
            <a href="#" class="text-sm font-semibold leading-6 text-[#F2C078]">Marketplace</a>
            <a href="#" class="text-sm  font-semibold leading-6 text-[#F2C078]">Company</a>
          </div>
          <!-- <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
          </div> -->
        </nav>
        </header>

    
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-br from-[#F2C078] to-[#c4c3c0] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Announcing our next round of funding. <a href="#" class="font-semibold text-[#F2C078]"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-[#F2C078] sm:text-6xl">Data to enrich your online business</h1>
          <p class="mt-6 text-lg leading-8 text-white">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="rounded-md bg-[#F2C078] px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-[#F2C078] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#F2C078]">Get started</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  
<div class="bg-[#212529] bg-fixed p-4">
    <app-about-us></app-about-us>
</div>

<!-- <div class="w-full h-96 flex justify-center ">
  <iframe
    class="w-full max-sm:w-full h-full flex justify-center"
    src="https://www.youtube.com/embed/CNQTy5hDFk8"
  >
  </iframe>
</div> -->
<div class="bg-[#212529] h-screen p-8">

    <app-cards></app-cards>
</div>

<div class="relative overflow-hidden h-screen">
    <div class="  p-10 flex  justify-end bg-cover bg-center bg-fixed bg-parallax   h-screen" >
       
        <div class=" bg-[#212529] w-1/3 p-10 absolute">
            <p class=" text-xl text-[#F2C078] ">ENVOYEZ-NOUS VOS FEEDBACK</p>

<form class="max-w-md mx-auto mt-8">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#F2C078] appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#F2C078] focus:outline-none focus:ring-0 focus:border-[#F2C078] peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-[#F2C078] dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#F2C078] peer-focus:dark:text[#F2C078] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#F2C078] appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#F2C078] focus:outline-none focus:ring-0 focus:border-[#F2C078] peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-[#F2C078] dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#F2C078] peer-focus:dark:text[#F2C078] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-[#F2C078] appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#F2C078] focus:outline-none focus:ring-0 focus:border-[#F2C078] peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-[#F2C078] dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#F2C078] peer-focus:dark:text[#F2C078] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
    </div>
   
   
   
    <button type="submit" class="text-black bg-[#F2C078] hover:bg-[#F2C078] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>
  
        </div>
    </div>
    
    
  </div>


  <div class="bg-[#212529] h-screen">e</div>
  